body {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.note:nth-child(even) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px 20px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 130%;
  margin: 15px 0px;
  border-radius: 10px;
}
.note:nth-child(odd) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px 20px;
  background-color: lightblue;
  align-items: center;
  justify-content: space-between;
  font-size: 130%;
  margin: 15px 0px;
  border-radius: 10px;
}
.note p {
  display: flex;
  flex-wrap: wrap;
}
.note-btns {
  display: flex;
  gap: 20px;
}
.hidden {
  display: none;
}
.add-btn {
  background: #82e0aa;
}
.orderNo {
  /* font-weight: n; */
  color: black;
}
.clear-btn {
  background-color: #f1948a;
}
.itemStatus {
  font-size: 110%;
}
